body{
    background-image: url(kepek/hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    color: rgba(245, 245, 245, 0.776);
    text-align: center;
    font-size: 500%;
}

p{
    text-shadow: 3.5px 3.5px 4px #038FE7;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#kivalasztas li{ 
    width: 250px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    color: rgba(173, 173, 191, 0.55);
    display: inline-block;
} 

#Europa:hover{
    list-style-image: url(kepek/Európa.png) !important;
}
