body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5faff;
    color: #2c3e50;
    line-height: 1.6;
    background-image: url(kepek/hatter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  header {
    color: white;
    text-align: center;
    padding: 40px 20px;
  }
  
  header h1 {
    font-size: 56px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 19px;
  }
  
  section, nav{
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    opacity: 75%;
  }
  
  section h2 {
    color: #004466;
    font-size: 32px;
    margin-bottom: 10px;
    border-bottom: 2px solid #006699;
    padding-bottom: 5px;
  }
  
  img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  }   


  video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  }   
  
  footer {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
  
  a{
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: white;
  }

  p {
    font-weight: bold;
    font-size: large;
    font-family: 'Segoe UI', sans-serif;
  }

  #europa{
    text-align: center;
  }

  table img{
    width: 115px;
    height: 100px;
  }

  table td, table th{
    text-align: center;
  }

  .video{
    object-fit: cover;
    width: 250px;
    height: 120px;
  }

  .zaszlok{
    width: 240px;
    height: 200px
  }

  #eu_szöveg{
    text-align: center;
  }

  .row{
    text-align: center;
  }

  nav div{
    background-color: rgb(167, 167, 167);
    border: 1px solid rgb(94, 92, 89);
    min-height: 40px;
  }

  .erzekeles:hover{
    background-color: rgb(205, 205, 205);
  }

  .erzekeles{
      display: flex;
      justify-content: center;
      align-items: center;
  }